<div class="p-2">

    {{#if result.validation_error}}
    {{> validation_error }}
    {{/if}}

    {{#if result.database_error}}
    {{> database_error }}
    {{/if}}

    {{#if result.success}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste se prijavili na natjecanje!
                </p>
                <div class="card-actions justify-end">
                    <a class="btn" href="/competitions">Nastavi na pregled natjecanja</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>